.idea/
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
Supprimerait tests/
app/sqlite.db.cache
app/AWS_ACCESS_KEY_ID.txt
app/AWS_SECRET_ACCESS_KEY.txt
npm-debug.log
composer.phar
composer.lock