{% extends "::base.html.twig" %}

{% block title %}EmployeBundle:Consultation:ConsultationSolde{% endblock %}

{% block body %}
<h1>Welcome to the Consultation:ConsultationSolde page</h1>
{% endblock %}
